
<div class="header">
  <div class="header-left">
    <p>Rolodex</p>
      <!-- <div class="logged-out" *ngIf="!user.loggedIn">
    <button (click)="login()">Login</button>
</div> -->
<!-- <div class="register" *ngIf="!user.loggedIn">
  <p>Not a user? Click here to sign up!</p>
  <button (click)="register()">Sign Up</button>
</div> -->
  </div>

  <div class="header-right">
    <ul class="nav">
      <li>
        <a routerLink="/">
          Home
        </a>
      </li>
      <li>
        <a routerLink="contacts">View All Contacts</a>
      </li>
      <li>
        <a routerLink="create">Create Contacts</a>
      </li>
      <li>
        <a routerLink="profile">
          My Profile
        </a>
      </li>
    </ul>
    <p class="logged-in" *ngIf="isLoggedIn()">
      Welcome, {{user.name}}
      <button (click)='logout()'>Logout</button>
  </p>
  </div>
</div>
