.nav{
    margin:0;
    padding: 15px;
    background-color: lighten(blue, 25%);
    text-align: right;
    
    
    li{
        display: inline-block;
        margin-right: 25px;

        a {
            text-decoration: none;
            color: white;
            font-size: 22px;
        }
    }
}