<h1>edit-contact Page!</h1>


<div>
        <form>
          <div>
            <input
              type="text"
              name="name"
              placeholder="Name"
              [(ngModel)]="formData.name"
            />
          </div>
          <div>
            <input
              type="text"
              name="address"
              placeholder="Address"
              [(ngModel)]="formData.address"
            />
          </div>
          <div>
            <input
              type="text"
              name="mobile"
              placeholder="mobile"
              [(ngModel)]="formData.mobile"
            />
          </div>
          <div>
            <input
              type="text"
              name="work"
              placeholder="Work"
              [(ngModel)]="formData.work"
            />
          </div>
          <div>
            <input
              type="text"
              name="home"
              placeholder="Home"
              [(ngModel)]="formData.home"
            />
          </div>
          <div>
            <input
              type="text"
              name="email"
              placeholder="Email"
              [(ngModel)]="formData.email"
            />
          </div>
          <div>
            <input
              type="text"
              name="github"
              placeholder="Github"
              [(ngModel)]="formData.github"
            />
          </div>
          <button (click)="edit()">Edit Contact</button>
        </form>
      </div>