<!-- <div class="search"> -->
  <form>
    <p>Search for a contact...</p>
      <input type="text" name="name" [(ngModel)] ="formData.name"/>
    <button (click)="search()">Search</button>
  </form>
<!-- </div> -->

<div class="container">
    <div class="contacts" *ngFor='let contact of contacts'>
        <h3>
         <a [routerLink]="['/contacts',contact.id]"> Name: {{contact.name}}</a>
        </h3>
        <p>Address: {{contact.address}}</p>
        <p>Mobile: {{contact.mobile}}</p>
        <p>Work: {{contact.work}}</p>
        <p>Home: {{contact.home}}</p>
        <p>Email: {{contact.email}}</p>
        <p>Github: {{contact.github}}</p>
    </div>
</div>