<h1>edit-profile Page!</h1>

<div>
    <form>
        <div>
        <input 
        type="text"
        name="name"
        [(ngModel)]="formData.name" >
    </div>
    <div>
        <input 
        type="text"
        name="username"
        [(ngModel)]="formData.username">
    </div>
    <div>
        <input 
        type="text"
        name="email"
        [(ngModel)]="formData.email">
    </div>
    <div>
        <input 
        type="text"
        name="address"
        [(ngModel)]="formData.address">
    </div>
    <button (click)="edit()">Edit Profile</button>
    </form>
</div>