
<div class="newContact">
  <h1>Create new contact card</h1>
  <form>
    
      <input
        type="text"
        name="name"
        placeholder="Name"
        [(ngModel)]="formData.name"
      />
    
    
      <input
        type="text"
        name="address"
        placeholder="Address"
        [(ngModel)]="formData.address"
      />
    
      <input
        type="text"
        name="mobile"
        placeholder="mobile"
        [(ngModel)]="formData.mobile"
      />
    
      <input
        type="text"
        name="work"
        placeholder="Work"
        [(ngModel)]="formData.work"
      />
    
      <input
        type="text"
        name="home"
        placeholder="Home"
        [(ngModel)]="formData.home"
      />
    
      <input
        type="text"
        name="email"
        placeholder="Email"
        [(ngModel)]="formData.email"
      />
    
      <input
        type="text"
        name="github"
        placeholder="Github"
        [(ngModel)]="formData.github"
      />
    
    <button (click)="create()">Create Contact</button>
  </form>
</div>
