<h1>contact-id Page!</h1>


<div class="container">
        <div class="contact" >
            <h1>Name: {{contact.name}}</h1>
            <p>Address: {{contact.address}}</p>
            <p>Mobile: {{contact.mobile}}</p>
            <p>Work: {{contact.work}}</p>
            <p>Home: {{contact.home}}</p>
            <p>Email: {{contact.email}}</p>
            <p>Github: {{contact.github}}</p>
        </div>
        <button (click)="edit()">Edit Contact</button>
        <button (click)="delete()">Delete Contact</button>
    </div>